.supplies h2{
    text-align: left;
}

div .supplies button{
    margin-left: 25%;
}

div .lampes{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.lampes{
    margin-top: -50px;
    padding-top: 20px;
}